body {
    margin: 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

div.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 16px -1px black;
    border-radius: 6px;
    width: 390px;
    margin: 0 auto;
}

p {
    font-family: Helvetica, sans-serif;
}