table, td, th {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    text-align: left;
}

th {
    width: 400px;
}

.odd {
    background-color: rgb(241, 241, 241);
}

tr:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}